.cell{
	display: inline-block;
	background-color: #CCCCCC;
	border-style: solid;
	border-color: black;
	border-width: 1px 1px 0px 0px;
	width: 6.66%;
}

.cell:first-child{
	border-width: 1px 1px 0px 1px;
}



.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ligne{
	margin-bottom: -5px;
}

.ligne:last-child .cell{
	border-width: 1px 1px 1px 0px;
}

.ligne:last-child .cell:first-child{
	border-width: 1px 1px 1px 1px;
}
